@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: "Rubik", serif;
    background-color: #FFFFFF;
    font-weight: 400;

}

a {
    color: #4F5665;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1035px;
    margin: 0 auto;
}

.header {
    padding: 45px 150px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

}

.menu {

}

.menu-main {
    display: flex;
    gap: 30px;
}

.menu a {
    font-size: 16px;
}

.menu a.active {
    opacity: 1;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 500;
    color: #F53855;

    width: 150px;
    height: 45px;
    border: 1px solid rgba(245, 56, 85, 1);
    border-radius: 50px;

    transition: opacity 0.3s;

}

.btn:hover {
    opacity: 0.8;
}

.card_container {

}

.photo {
    float: right;
    padding-right: 150px;
}

.card_center {
    width: 555px;
}

.card_info {

}

.heading_one {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    color: #0B132A;
    margin: 0;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    text-align: left;
    color: #4F5665;
    margin: 0;
    line-height: 30px;
    margin-bottom: 55px;

}

.object_follower_card {
    background: url("./img1/Rectangle\ 252.png");
    width: 1140px;
    height: 200px;
}